/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  align-items: center;
  background: linear-gradient(#AB68eB, #6663E8);
  background-attachment: fixed;
  color: #787887;
  display: flex;
  flex-direction: column;
  font-family: 'Kumbh Sans';
  font-size: 14px;
  height: 100%;
  justify-content: center;
  line-height: 16px;
  margin: 0; }

a {
  color: #FF0; }

.container {
  clear: both;
  padding: 20px; }

.col {
  padding: 0 25px; }

.hidden-xs {
  display: none; }

input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.accordion {
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-color: #FFF;
  background-position: center top;
  border-radius: 20px;
  padding: 120px 0 25px;
  margin-top: 50%; }
  .accordion__title {
    color: #1D1E35;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px; }
  .accordion__illustration {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -100px; }
  .accordion__tabs {
    border-radius: 8px;
    overflow: hidden; }
  .accordion__tab {
    border-bottom: 1px solid #E7E7E9;
    overflow: hidden;
    margin: 16px 0; }
    .accordion__tab-label {
      color: #4A4B5E;
      display: flex;
      justify-content: space-between;
      padding: 0 8px 16px 0; }
      .accordion__tab-label::after {
        content: '\276F';
        color: #F47C57;
        width: 17px;
        height: 17px;
        text-align: center;
        transition: transform .3s;
        transform: rotate(-90deg); }
    .accordion__tab-content {
      line-height: 20px;
      height: 0;
      transition: height .5s; }
  .accordion input:checked + .accordion__tab-label {
    font-weight: 700; }
    .accordion input:checked + .accordion__tab-label::after {
      transform: rotate(90deg); }
  .accordion input:checked ~ .accordion__tab-content {
    height: calc-size(auto, size);
    padding: 0 0 16px; }

.attribution {
  color: #E7E7E9;
  text-align: center; }

@media screen and (min-width: 768px) {
  .visible-xs {
    display: none; }
  body {
    font-size: 16px; }
  .col {
    padding: 0;
    width: 50%; }
  .accordion {
    align-items: flex-start;
    background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
    background-position: -120px 100px, -320px -50px;
    background-size: 60%, 90%;
    display: flex;
    height: fit-content;
    margin: auto;
    max-width: 90%;
    padding: 100px 0; }
    .accordion__tabs {
      width: 90%; }
    .accordion__title {
      font-size: 32px;
      line-height: 1;
      margin-bottom: 35px;
      text-align: left; }
    .accordion__illustration {
      position: relative;
      margin: auto;
      left: -45%;
      top: 0;
      width: 450px; }
      .accordion__illustration-box {
        left: -93px;
        position: relative;
        top: 100px; } }

@media screen and (min-width: 1024px) {
  .hidden-xs {
    display: block; }
  .accordion {
    background-position: -80px 80px, -530px -230px;
    background-size: 460px, 900px;
    max-width: 850px; }
    .accordion__tabs {
      width: 75%; }
    .accordion__tab-label:hover {
      cursor: pointer; }
    .accordion__illustration {
      left: -20%;
      width: 465px; } }
